@import "_fonts";
@import "_loader";

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  // padding-left: 10px;
  // padding-right: 10px;
}

#main {
  opacity: 0;
  // padding-bottom: 10px;
}
.sur-couche {
  right: 45px;
  position: absolute;
  top: 45px;
  z-index: 2;
}

.details {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  background-color: rgba(156, 158, 165, 0.7);
  color: #fff;
  padding: 10px;
  width: 570px;
  p {
    color: #000;
    text-align: justify;
    padding-bottom: 15px;
    font-size: 14px;
  }
  .label {
    fill: #fff;
  }
  h5 {
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    // font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    line-height: 1em;
  }
  #divider {
    width: 30px;
    hr {
      border-top: 4px solid #2f9c67;
    }
  }
  img {
    height: 180px;
    width: 220px;
    padding-right: 10px;
    padding-bottom: 15px;
  }
  h6 {
    text-transform: uppercase;
    font-size: 17px;
    color: #d90368;
    padding-bottom: 10px;
  }
  .btn-info {
    // width: 130px;
    margin: 10px 0 10px 0;
    color: #ffffff !important;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 14px;
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif !important;
    background-color: #2f9c67;
  }
  .key-figure {
    padding-bottom: 10px;
    h5,
    #sourceLabel {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 1;
      color: #000;
      text-transform: uppercase;
    }
    .num {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      font-size: 2rem;
      line-height: 1;
      min-height: 40px;
      color: #204669;
    }
  }
}

// map
#map {
  width: 100%;
  height: 500px;
  // padding-top: 10px;
  // fill: #fff;
  // fill: #e7eaed;
  position: relative;
  .zoom-controls {
    position: absolute;
    left: 45px;
    bottom: 15px;
    // right: 45px;
    // top: 45px;
    display: grid;
    grid-gap: 5px;
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: grid;
      border-radius: 50% !important;
      background: #a6b0c3;
      color: #fff;
      border: none;
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
    }
    button:active {
      background: rgba(200, 200, 200, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
  //legend
  .focus-layer {
    background-color: #fff;
    color: #000;
    fill: #000;
    right: 24px;
    padding: 15px 15px 5px;
    position: absolute;
    bottom: 10px;
    width: 130px;
    // z-index: 3;
    label {
      fill: #000;
      font-family: "Gotham Bold", sans-serif;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
    }
    h5 {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 13px;
      line-height: 13px;
    }
  }
}

#countries path {
  cursor: pointer;
}
#countries path.inactive {
  cursor: default;
}
.d3-tip {
  padding: 10px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 3px;
  font-size: 14px;
  color: #000;
  transition: 0.3s opacity ease;
  z-index: 100;
  pointer-events: none;
  h5 {
    font-size: 15px;
  }
  ul {
    margin: 0;
  }
}
.map-tip {
  position: absolute;
}
.hidden {
  display: none;
}

.flex-centrer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.key-figure {
  h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.85rem;
    line-height: 1.7;
    color: #000000;
    text-transform: uppercase;
    // font-weight: normal;
  }
  .num {
    font-family: "Gotham Bold", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    min-height: 40px;
    color: #204669;
  }
}

select {
  background-color: #fff;
  border-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  height: 30px;
  width: 190px;
  margin: 0 5px 0 10px;
  padding: 0 10px 0 10px;

  // #regionSelect {
  //   width: 100%;
  // }
  // #orgSelect {
  //   width: 80%;
  // }
}

.purpose {
  display: inline;
  padding-top: 10px;
  // padding-bottom: 10px;
  // margin-bottom: 10px;
  h6 {
    span {
      font-weight: bold;
    }
  }
}

.btn-tertiary {
  // float: right;
  // padding: 0 5px 0 5px;
  color: #d1021a;
  // text-transform: uppercase;
  // border: 0;
  // font-size: 0.85rem;
  // line-height: 1.5;
  outline: none;
  display: block;
  padding: 5px 8px 5px 8px;
  font-size: 0.78rem;
  line-height: 1.5;
}

#datatable {
  padding-top: 10px;
}
// table content font
#datatable.dataTable td {
  font-size: 0.85rem;
  line-height: 1.5;
  .Active {
    color: "#2F9C67";
  }
  .Inactive {
    color: "#E9F1EA";
  }
  .Pipeline {
    color: "#9EC8AE";
  }
  // line-height: 21px;
}

table.dataTable thead th,
table.dataTable thead td {
  font-family: "Gotham-Bold", sans-serif;
  font-size: 0.85rem;
  line-height: 1.5;
  padding: 5px 10px;
  border-bottom: 1px solid #111;
}

.fa-download {
  color: #000;
  font-size: 16px;
}

a {
  color: #204669;
}

.emergencyFilter {
  padding: 0 10px 0 10px;
  #covid {
    background-color: #d90368;
    border-color: #d90368;
  }
  #ebola {
    background-color: #e27093;
    border-color: #e27093;
  }
  #ohterOutbreak {
    background-color: #e996ad;
    border-color: #e996ad;
  }
  .btn {
    outline: none;
    display: block;
    padding: 5px 8px 5px 8px;
    font-size: 0.78rem;
    line-height: 1.5;
    color: #fff;
  }
}
.statusFilter {
  #active {
    background-color: #2f9c67;
    border-color: #2f9c67;
  }
  #under-development {
    background-color: #9ec8ae;
    border-color: #9ec8ae;
  }
  #inactive {
    background-color: #798ba5;
    border-color: #798ba5;
  }
  #closed {
    background-color: #a6b0c3;
    border-color: #a6b0c3;
  }
  .btn {
    outline: none;
    display: block;
    padding: 5px 8px 5px 8px;
    font-size: 0.78rem;
    line-height: 1.5;
    color: #fff;
  }
}

.alert {
  padding: 0 5px 0 5px;
  color: #fff;
  margin-right: 5px;
  border: 0;
  border-radius: 0.5rem;
}

// focus
.tag-covid-19 {
  background-color: #d90368;
}
.tag-ebola {
  background-color: #e27093;
}
.tag-emergency-other {
  background-color: #9d9fa2;
}
.tag-perception {
  background-color: #2f9c67;
}
.tag-rumors {
  background-color: #546b89;
}
.tag-questions {
  background-color: #798ba5;
}
.tag-purpose-other {
  background-color: #dbdee6;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  span {
    font-size: 0.75rem;
    line-height: 1.5;
  }
}

.fa-plus-circle,
.fa-minus-circle {
  color: #2f9c67;
  font-size: 1.1rem;
  line-height: 1.5;
}

#cfmDetails {
  background-color: #f5f5f5;
  // width: 100%;
}
// .tabDetail {
//   border: none;
//   border-spacing: 0;
//   border-collapse: collapse;
//   background-color: #f5f5f5;
//   width: 100%;
// }
table.tabDetail tbody tr {
  background-color: #f5f5f5;
}

.dt-buttons {
  display: none;
}

// responsive
@media only screen and (max-width: 767px) {
  // #sectionOne {
  //   height: 890px;
  // }
  .sur-couche {
    position: static;
    width: 100%;
  }
  .details {
    width: 100%;
  }
  #map {
    width: 100%;
    margin-bottom: 10px;
    // height: 100px;
  }
  .flex-centrer {
    display: inline;
    // padding-top: 5px;
  }
  .btn-tertiary {
    display: inline;
  }
}
