@import "_fonts";
@import "_loader";

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.85rem;
  line-height: 1.7;
}

#main {
  opacity: 0;
  padding-bottom: 10px;
}

h2 {
  padding-top: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  line-height: 22px;
  color: #204669;
}

#description {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.map {
  margin-bottom: 10px;
  padding-bottom: 15px;
}
#map {
  width: 100%;
  height: 500px;
  padding-top: 10px;
  // fill: #a6d8e8;
  fill: #e7eaed;
  position: relative;
  .zoom-controls {
    position: absolute;
    right: 45px;
    top: 45px;
    display: grid;
    grid-gap: 5px;
    button {
      width: 30px;
      height: 30px;
      font-size: 18px;
      display: grid;
      border-radius: 50% !important;
      background: #a6b0c3;
      color: #fff;
      border: none;
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
    }
    button:active {
      background: rgba(200, 200, 200, 0.8);
    }
    button:focus {
      outline: 0;
    }
  }
  //legend
  .focus-layer {
    background-color: #fff;
    color: #000;
    fill: #000;
    right: 24px;
    padding: 15px 15px 5px;
    position: absolute;
    bottom: 10px;
    width: 130px;
    // z-index: 3;
    label {
      fill: #000;
      font-family: "Gotham Bold", sans-serif;
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
    }
    #actif {
      i {
        color: #2f9c67;
      }
    }
    #inactive {
      i {
        color: #e9f1ea;
      }
    }
    #pipeline {
      i {
        color: #9ec8ae;
      }
    }
    h5 {
      font-family: "Gotham-Bold", sans-serif;
      font-size: 13px;
      line-height: 13px;
    }
  }
}
#countries {
  stroke: #ccc;
  stroke-width: 0.01;
}
#countries path {
  cursor: pointer;
}
#countries path.inactive {
  cursor: default;
}
.d3-tip {
  padding: 10px;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 0px;
  border-radius: 3px;
  // font-size: 14px;
  color: #000;
  transition: 0.3s opacity ease;
  z-index: 100;
  pointer-events: none;
  h5 {
    font-size: 15px;
  }
  ul {
    margin: 0;
  }
}
.map-tip {
  position: absolute;
}
.hidden {
  display: none;
}

.key-figure {
  h5 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.85rem;
    line-height: 1.7;
    color: #000000;
    text-transform: uppercase;
    // font-weight: normal;
  }
  .num {
    font-family: "Gotham Bold", sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    min-height: 40px;
    color: #204669;
  }
}

#regionSelect,
#orgSelect,
.ms-choice {
  background-color: #fff;
  border-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.85rem;
  line-height: 1.7;
  height: 30px;
  margin: 20px 0 0 0;
  width: 100%;
}
.ms-choice {
  span {
    position: static;
    font-weight: bold;
  }
  div.icon-caret {
    margin-top: 10px;
  }
}

.purpose {
  display: inline;
  padding-top: 10px;
  // padding-bottom: 10px;
  // margin-bottom: 10px;
  h6 {
    span {
      font-weight: bold;
    }
  }
}

.btn-tertiary {
  float: right;
  padding: 0 5px 0 5px;
  color: #d1021a;
  text-transform: uppercase;
  border: 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

#datatable {
  padding-top: 10px;
}
// table content font
#datatable.dataTable td {
  font-size: 0.85rem;
  line-height: 1.5;
  .Active {
    color: "#2F9C67";
  }
  .Inactive {
    color: "#E9F1EA";
  }
  .Pipeline {
    color: "#9EC8AE";
  }
  // line-height: 21px;
}

table.dataTable thead th,
table.dataTable thead td {
  font-family: "Gotham-Bold", sans-serif;
  font-size: 0.85rem;
  line-height: 1.5;
  padding: 5px 10px;
  border-bottom: 1px solid #111;
}

.fa-download {
  color: #000;
  font-size: 16px;
}

a {
  color: #204669;
}

.emergencyFilter {
  padding: 0 10px 0 10px;
  #covid {
    background-color: #d90368;
    border-color: #d90368;
  }
  #ebola {
    background-color: #e27093;
    border-color: #e27093;
  }
  #ohterOutbreak {
    background-color: #e996ad;
    border-color: #e996ad;
  }
  .btn {
    padding: 0 5px 0 5px;
    text-transform: uppercase;
    border: 0;
    font-size: 0.85rem;
    line-height: 1.5;
  }
}
.focusFilter {
  #perception {
    background-color: #2f9c67;
    border-color: #2f9c67;
  }
  #rumors {
    background-color: #546b89;
    border-color: #546b89;
  }
  #questions {
    background-color: #798ba5;
    border-color: #798ba5;
  }
  #others {
    background-color: #a6b0c3;
    border-color: #a6b0c3;
  }
  .btn {
    padding: 0 5px 0 5px;
    text-transform: uppercase;
    border: 0;
    font-size: 0.85rem;
    line-height: 1.5;
  }
}

.alert {
  padding: 0 5px 0 5px;
  color: #fff;
  margin-right: 5px;
  border: 0;
  border-radius: 0.5rem;
}

// focus
.tag-covid-19 {
  background-color: #d90368;
}
.tag-ebola {
  background-color: #e27093;
}
.tag-emergency-other {
  background-color: #9d9fa2;
}
.tag-perception {
  background-color: #2f9c67;
}
.tag-rumors {
  background-color: #546b89;
}
.tag-questions {
  background-color: #798ba5;
}
.tag-purpose-other {
  background-color: #dbdee6;
}
